body {
    background-color: #060116;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1em;
}

h5 {
    text-align: center;
    font-size: 0.5em;
}

form {
    text-align: center;
    font-size: 1em;
}